<!DOCTYPE html>
<html lang="ru">
  <head>
  {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'content/favicon.ico' %}">

    <title>{% block title %}{% endblock %}</title>
    
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'content/css/jumbotron-narrow.css' %} " rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted"><a href="{% url 'content:index' %}">Space In School</a></h3>
        <nav>
          <ul class="nav pull-right masthead-nav">
            <li role="presentation" class="{% block home-active %}{% endblock %}"><a href="{% url 'content:home' %}">Главная</a></li>
            <li role="presentation" class="{% block posts-active %}{% endblock %}"><a href="{% url 'content:post-list' %}">Статьи</a></li>
            <li role="presentation" class="{% block questions-active %}{% endblock %}"><a href="{% url 'content:questions' %}">Вопросы</a></li>
            <li role="presentation"><a href="{% url 'content:solar' %}">Солнечная система</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

    <script src="{% static 'content/js/script.js' %}"></script>

  </body>
</html>
